@import "nav-left";
@import "main-content";
@import "nav-right";

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .nav-left {
    flex-shrink: 0;
    width: 140px;
  }

  .main-content {
    flex-grow: 1;

  }

  .nav-right {
    width: 450px;
    flex-shrink: 0;
  }
}

@media (max-width: $tabletWidth) {
  .full-section {
    padding: 20px;
  }
  .content {
    flex-direction: column;
    .nav-left {
      order: 1;
      width: auto;
    }
    .main-content {
      order: 2;
      width: auto;

    }
    .nav-right {
      order: 3;
      width: auto;
    }
  }
}

@media (max-width: $mobileWidth) {
  .full-section {
    padding: 20px;
  }
  .content {
    flex-direction: column;
    .nav-left {
      order: 1;
      width: auto;
    }
    .main-content {
      order: 2;
      width: auto;

    }
    .nav-right {
      order: 3;
      width: auto;
    }
  }
}