.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .section-menu {
    flex-shrink: 0;
    width: 140px;
  }

  .section-content {
    flex-grow: 1;
  }

  .section-statistics {
    width: 450px;
    flex-shrink: 0;
  }
}

@media (max-width: $tabletWidth) {
  .full-section {
    padding: 20px;
  }

  .content {
    flex-direction: column;
    .section-menu {
      order: 1;
      width: auto;
    }
    .section-content {
      order: 2;
      width: auto;
    }
    .section-statistics {
      order: 3;
      width: auto;
    }
  }
}

@media (max-width: $mobileWidth) {
  .full-section {
    padding: 20px;
  }

  .section-menu {
    flex-direction: column;
    .nav-left {
      order: 1;
      width: auto;
    }
    .section-content {
      order: 2;
      width: auto;
    }
    .section-statistics {
      order: 3;
      width: auto;
    }
  }
}