.nav-left {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
  padding-bottom: 50px;

  a {
    text-decoration: none;
    color: $main-text-color;
    text-align: center;
    margin: 20px;

    svg {
      width: 40px;
      height: 40px;
      fill: $left-svg;
    }
  }

  .main-menu {
    flex-direction: column;
    display: flex;
    font-size: 1rem;
    flex-shrink: 0;
  }

  .out {
    margin: 0 auto;
    text-align: center;
    a {
      margin: 0;
      p {
        color: $btn-delete;
      }
      svg {
        fill: $btn-delete;
      }
    }
  }
}

@media (max-width: $mobileWidth) {
  .nav-left {
    .main-menu {
      flex-direction: row;
    }
  }
}

