.section-menu {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
  padding-bottom: 50px;

  a {
    text-decoration: none;
    color: $main-text-color;
    text-align: center;
    margin: 20px;
    svg {
      width: 40px;
      height: 40px;
      fill: $left-svg;
    }
  }

  .main-menu {
    flex-direction: column;
    display: flex;
    font-size: 1rem;
    flex-shrink: 0;
  }

  .out {
    margin: 0 auto;
    text-align: center;
    a {
      margin: 0;
      p {
        color: $btn-delete;
      }
      svg {
        fill: $btn-delete;
      }
    }
  }
}

@media (max-width: $tabletWidth) {
  .section-menu {
    width: 100%;
    flex-direction: row;
    padding-bottom: 0;
    justify-content: space-between;
    .main-menu {
      font-size: 0.8rem;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 20px 0 20px 20px;
      a {
        margin: 0 20px 0 0;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      a:first-child {
        display: none;
      }
    }
    .out {
      margin: 20px;
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}

@media (max-width: $mobileWidth) {
  .section-menu {
    width: 100%;
    flex-direction: row;
    padding-bottom: 0;
    justify-content: center;
    .main-menu {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 20px 0 20px 0;
      a {
        margin: 0 18px 0 0;
        svg {
          width: 15px;
          height: 15px;
        }
        p {
          display: none;
        }
      }
    }
    .out {
      margin: 20px 20px 0 0;
      p {
        display: none;
      }
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}

