.header {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.2rem;
  height: 130px;
  color: #ffffff;

  .menu {
    flex-grow: 0;
    width: 140px;
    text-align: center;
    background: $brand-color;
    svg {
      width: 40px;
      height: 40px;
      fill: $top-svg;
    }
  }

  .nav-top {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: #3b4557;

    > a {
      text-decoration: none;
      color: #ffffff;
      margin-left: 80px;
    }

    .status {
      margin-left: 50px;
      svg {
        margin-left: 20px;
        fill: $top-svg;
      }
    }

    .profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 20px;
      div {
        margin-left: 10px;
      }
      svg {
        fill: $top-svg;
      }
    }
  }
}

@media (max-width: $tabletWidth) {
  .header {
    font-size: 1rem;
    height: auto;
    .menu {
      display: none;
    }
    .nav-top {
      flex-direction: row;
      justify-content: space-between;

      > a {
        margin-left: 15px;
      }
      .status {
        margin-left: 20px;
        svg {
          margin-left: 20px;
        }
      }
      .profile {
        margin-left: 20px;
        div {
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: $mobileWidth) {
  .header {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    font-weight: normal;
    align-items: center;
    .menu {
      display: none;
    }
    .nav-top {
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      > a {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        order: 3;
      }

      .status {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        order: 1;
        width: 50%;
        padding-bottom: 10px;
        svg {
          margin-left: 0;
          margin-right: 20px;
          width: 15px;
          height: 15px;

        }

      }
      .profile {
        margin-left: 0;
        order: 2;
        width: 50%;
        padding-bottom: 10px;
        justify-content: flex-end;
        text-align: right;

        div {
          margin-left: 0;
        }
        svg {
          width: 10px;
          height: 10px;
        }
        img {
          display: none;
        }
      }
    }
  }
}
