
$brand-color: #5DC560;
$main-text-color: #ADADAD;
$top-svg: #ffffff;
$left-svg: #adadad;
$center-text-color: #97A2B2;
$black: #000000;
$btn-open: #DADFE6;
$btn-add: #5DC560;
$btn-delete: #E66A5D;
$btn-edit: #97A2B2;
$btn-show: #6A51DC;

